        <!-- FOOTER -->
        <div class="navbar-default navbar footer-navbar">
            <div class="container">
                <footer>
                    <p class="pull-right"><a href="#">{{ site.t[page.lang].back_to_top }}</a></p>
                    <p>© 2014 Proxima Centauri srl </p>
                </footer>
            </div>
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../assets/js/custom.js"></script>
        <!-- if developer or doc page, load sidenavigationbar.js-->
        {% if page.active == "install" %}<script type="text/javascript" src="../assets/js/sidenavigationbar.js"></script> {% endif %}
    </body>
    
</html>