<!DOCTYPE html>
<html>
    <head>
        <title>{{  site.name }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../assets/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="../assets/css/carousel.css"/>
        <link rel="stylesheet" href="../assets/css/custom.css"/>
        <!-- bootstrap fix -->
        <style>
            body {
                padding-top: 60px;
            }
            @media (max-width: 980px) {
                body {
                    padding-top: 0;
                }
            }
            
        </style>
    </head>
    <body>
        
       