<div id="install-side-navbar">
    <ul  class="list-group">
        <li class="list-group-item active"> <a href="#requirements">{{site.t[page.lang].requirements}}</a></li>
        <li class="list-group-item"> <a href="#installation">{{site.t[page.lang].installation}}</a></li>
        <li class="list-group-item"> <a href="#postgreSQL">{{site.t[page.lang].postgreSQL}}</a></li>
        <li class="list-group-item"> <a href="#perl">{{site.t[page.lang].perl}}</a></li>
        <li class="list-group-item" > <a href="#jasper">{{site.t[page.lang].jasper}}</a></li>
        <li class="list-group-item" > <a href="#config">{{site.t[page.lang].config}}</a></li>
        <li class="list-group-item" > <a href="#access">{{site.t[page.lang].access}}</a></li>
    </ul>
</div>
